 




label {
    font-weight: 400;
}



.radio-tabs h3 {
    color: #702b36;
    font-size: 1.999em;
    font-family: 'Martel Sans';
}

.radio-tabs h5 {
    font-size: 4em;
    color: #702b36;
    
}



.radio-tabs li,
.radio-tabs p {
    font-size: 1.5em;
    font-family:'Fira Sans' ;
}

.radio-tabs {
    margin: 0;

}

.radio-tabs .state {
    position: absolute;
    left: -10000px;
}

.tabs { 
    font-size: 2em; 

 }




.radio-tabs .tab {
    display: inline-block;
    padding: .5em;
    vertical-align: top;
    color: #702b36 ;
    
    background-color: #eee;
}
.radio-tabs .tab:hover {
    background-color: #b7c1c2;
}

#su:checked ~ .tabs #su-tab,
#mc:checked ~ .tabs #mc-tab
 {
    background-color: #fff;
    border: 1px solid;
    border-bottom: 0;
}

.radio-tabs .panels {
    background-color: #fff;
    padding: .5em;


}
.radio-tabs .panel {
    display: none;
}



#su:checked ~ .panels #su-panel,
#mc:checked ~ .panels #mc-panel{
    display: block;
}

.panel {
    border: none;
}




/*work and skills*/

#teltek:checked ~ .tabs #teltek-tab,
#stevenson:checked ~ .tabs #stevenson-tab,
#wmx:checked ~ .tabs #wmx-tab
 {
    background-color: #fff;
    border: 1px solid;
    border-bottom: 0;
  
}

#teltek:checked ~ .panels #teltek-panel,
#stevenson:checked ~ .panels #stevenson-panel,
#wmx:checked ~ .panels #webmechanix-panel{
    display: block;
}






